@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  palette
  bg-orange-600
  bg-amber-500
  bg-cyan-500
  bg-cyan-800
  bg-cyan-950
  bg-slate-100
  bg-black
*/

/*
  button styles:
  default - white w/ dark grey text gray border
  primary - blue w/ dark grey text
  accent - orange w/ dark grey text
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.btn {
  @apply py-1 px-3 rounded border border-slate-800;
}
.btn-round {
  @apply rounded-full;
}
.btn-default {
  @apply bg-slate-300 text-slate-800;
}
.btn-default:hover {
  @apply bg-slate-50;
}
.btn-primary {
  @apply bg-cyan-500 text-slate-800;
}
.btn-primary:hover {
  @apply bg-cyan-600;
}
.btn-accent {
  @apply bg-orange-600 text-slate-800;
}
.btn-accent:hover {
  @apply bg-orange-700 text-slate-50;
}

.carousel .btn {
  @apply font-bold absolute z-10 border-0 py-3 px-5 text-lg;
  top: 50%;
  transform: translateY(-50%);
}
